#text-area .text-area{
    border: 1px solid #CACACA;
    margin: 0;
    border-radius: 8px;
    background-color: var(--color-background-hover);
    height: 230px;
    margin-top: 10px;
    
}

#text-area label{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}

#text-area .text-area textarea{
    font-family: Poppins;
    color: var(--color-text-dark);
    
    outline: none;
    border-radius: 8px;
    padding: 8px 16px;
    width: 100%;
    height: 100%;
    resize: none;
    background-color: var(--color-background-hover);
    overflow-x: hidden;
    overflow-y: auto;
    border: 5px solid var(--color-background-hover);

}