.input-form{
    width: 100%;
    height: 71px;
    background-color: var(--color-primary);
    outline: none;
    border: 1px solid var(--color-text-dark);
    font-style: normal;
    font-weight: 300;
    padding: 0 16px;
}

.radius-first{
    border-radius: 8px 8px 0 0;
    border-bottom: none;
}

.radius-last{
    border-radius: 0 0 8px 8px ;
}


.error{
    border: 1.5px solid var(--color-cancel-red-button);
}
/*.radius{
    border-radius: 8px;
}*/