
#video-container {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}
#video-container a{
    text-decoration: none;
    color: var(--color-text-light);
}
#video-container .content{
    width: 340px;
    height: 266px;
    border-radius: 8px;
    border: 3px solid var(--color-background-icon);
    transition-duration: 1s;
    
}

#video-container .content .thumbnail{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 160px;
    margin-top: -2px;
    border-radius: 8px 8px 0 0;
    background-color: var(--color-background-icon);
    border: 2px solid var(--color-background-icon);

}

#video-container .content .video-info{
    padding: 14px;
}

#video-container .content .video-info .title-edit {
    display: flex;

}

#video-container .content .video-info .title-edit h3{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 42px;
    overflow: hidden;
    margin-bottom: 5px;
    transition-duration: 0.5s;

    margin-right: 20px;
    width: 200px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

#video-container .content .video-info .title-edit img.lapis {
    cursor: pointer;
}

#video-container .content .video-info .title-edit img.delete {
    width: 26px;
    cursor: pointer;
    margin-left: 22px;
    opacity: 0.7;
}

#video-container .content .video-info .views{
    display: flex;
    align-items: center;
}

#video-container .content .video-info .views img{
    margin-right: 10px;
}

#video-container .content .video-info .views h4{
    font-family: Archivo;
    transition-duration: .5s;
}